name: Slurm

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

jobs:
  template_scripts:
    runs-on: ubuntu-latest
    # For the action to work, you have to supply a mysql
    # service as defined below.
    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_ROOT_PASSWORD: root
        ports:
          - "8888:3306"
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: actions/checkout@v3

      - uses: koesterlab/setup-slurm-action@v1

      # Afterwards, you can submit to the slurm cluster via sbatch and srun, 
      # and interact via all other usual commands.
      - name: Install slurm-script-generator
        run: |
          pip install .
      
      - name: Run job with sbatch
        run: |
          generate-slurm-script -D ./ -J test_slurm --nodes 16 --ntasks-per-node 72 --mail-type=none --mail-user=userid@example.mpg.de --time=12:00:00 --modules intel/21.2.0 impi/2021.2 --output batch_script.sh
          sbatch batch_script.sh
          echo "asdjkhasjkdhsak" > bad_file.sh
          sbatch bad_file.sh