name: Testing

on:
  push:
    branches:
      - main
      - devel
  pull_request:
    branches:
      - main
      - devel

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'  # Adjust as needed

      # Cache pip dependencies
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      # Create virtual environment and install project from pyproject.toml
      - name: Set up virtual environment and install project
        run: |
          python -m venv env
          source env/bin/activate
          pip install --upgrade pip
          pip install .

      # Run a basic command to check installation
      - name: Check installation
        run: |
          source env/bin/activate
          generate-slurm-script -h
      
      - name: Test CLI
        run: |
          source env/bin/activate
          generate-slurm-script --nodes 1 --ntasks-per-node 16 --output sbatch.sh
          cat sbatch.sh
          grep -q "^#SBATCH --nodes=1" sbatch.sh
          grep -q "^#SBATCH --ntasks-per-node=16" sbatch.sh

      # Run tests
      - name: Run tests
        run: |
          source env/bin/activate
          pip install pytest
          pytest .
        env:
          CI: true
  test-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      - name: Build the package
        run: python -m build
